{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="home-holder text-center text-light bg-dark p-5 rounded">
                <h1 class="display-3 mb-4">
                    Hello, World!
                </h1>
                <p class="lead">Welcome to the most amazing smart app.</p>
                <a href="{% url 'notelist' %}" class="btn btn-success btn-lg">Explore Smart Notes</a>
            </div>
        </div>
    </div>
{% endblock %}
